.small-text {
    font-size: 13px;
}

.facilities-item {
    width: 325px;
}

.new-green {
    color: #DAFF01;
}

.btn-purple {
    background-color: #9353FF !important;
    border: none !important;
    border-radius: 0 !important;
}